<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>-OGURA- Shopping</title>
		<meta name="description" content="日常雑貨から美容品までを扱うオンラインショップ">
		<link rel="stylesheet" href="http://unpkg.com/ress/dist/ress.min.css">
		<link href="css/Style.css" rel="stylesheet">
		<link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"/>
	</head>
<body>
	<nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}" href="#!"><img class="site-logo" alt="ショッピングサイトOGURA" src="https://seeklogo.com/images/I/i-am-a-bean-logo-DF7AEE03F3-seeklogo.com.png" >OGURA</a>
            <form class="form-inline " th:action="@{/search}" method="post" th:object="${formData}">
                <div class="form-group ">               
                     <div class="input-group" >
                        <div class="" >
                            <select class="custom-select" th:field="*{searchId}" >
                                <option selected="selected"  value="0" >全て</option>
                                <option  value="1" >食料品</option>
                                <option  value="2" >美容品</option>
                                <option  value="3" >雑貨</option>
                            </select>   
                        </div>
                        <input type="text" class="form-control bg-ofline-primary" id="exampleInputAmount"  placeholder="商品名を入力してください"  th:field="*{searchName}" aria-describedby="button-addon">
                        <div class="input-group-append">
                            <button class="btn btn-primary " type="submit" id="button-addon" >検索</button>
                        </div>
                     </div>
                </div>
            </form>
            <div class="btn-group">
                <a class="btn btn-outline-primary" href="#signup">カート</a>
                <a class="btn btn-primary" href="#signup">ログイン</a>
            </div>
            
        </div>
    </nav>
    
    <main>
    	
    	<h2 class="new-content-sub">新着商品はこちら</h2>
    	
    	<ul   th:each="Item:${getLatestList}" th:object="${Item}">
    		<li>
    			<div class="flex-item">	
    				<img alt="商品画像"  class="item-wrap" th:src="*{url}">
    			</div>
    		</li>
    		<li th:text="*{name}" class="a1" ><a th:href="@{/(id=${Item.url})}"></a></li>
    		<li class="flex-text">¥</li>
    		<li  th:text="*{price}" class="flex-text "></li>
    		<li class="flex-text">(税抜)</li>
    		<li th:text="*{status}" class="a4"></li>
    	</ul>
    </main>
    
    <section>
        
    </section>
	
	
	
	
</body>
</html>