<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
	<header>
		<div class="row">
			<div class="col-sm-12 shadow p-2 mb-3 bg-info">
				<h1 class="text-center shadow p-2 mb-3 bg-info text-white">オーナー管理画面</h1>
				<ul class="nav  navbar-light    bg-info  justify-content-center rounded-bottom rounded-lg">
                    <li class="nav-item p-1">
                        <form th:action="@{/orner}" th:method="get" >
                            <button class="btn btn-outline-light" type="submit">新規登録</button>
                        </form>
                    </li>
                    <li class="nav-item p-1" >
                        <form th:action="@{/update}" th:method="get" >
                            <button class="btn  btn-outline-light" type="submit">商品情報更新</button>
                        </form>
                    </li>
                    <li class="nav-item p-1">
                        <form  th:action="@{/delete}" th:method="get" >
                            <button class="btn btn-outline-danger text-white" type="submit">商品情報削除</button>
                        </form>
                    </li>
                </ul>
			</div>
			
		</div>
	</header>
	
	<main>
		
		<div class="container">
			<div class="row">
				<div class="col-md-12 shadow-lg p-2 mb-7 bg-light " >
				    <div class="p-2">
                        <h2 class="text-center bg-info text-white">新規登録</h2>
                    </div>
					<table  class="table">
						<tr>
							<th scope="row" style="width:110px;">アイテムID</th>
							<th scope="row" >名前</th>
							<th scope="row">商品情報</th>
							<th scope="row">価格</th>
							<th scope="row" style="width:110px;"> 税率ID</th>
							<th scope="row" style="width:110px;">在庫状況</th>
							<th scope="row" style="width:120px;">グループID</th>
							<th scope="row" ></th>
						</tr>
						<tr th:each="Item:${findData}" th:object="${Item}">
							<td th:text="*{itemId}"></td>
							<td th:text="*{name}"></td>
							<td th:text="*{description}"></td>
							<td th:text="*{price}"></td>
							<td th:text="*{taxId}"></td>
							<td th:text="*{status}"></td>
							<td th:text="*{groupId}"></td>
							<td>
								<a th:href="@{/set/__*{itemId}__}" >
								    <button type="button"  class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">変更</button>  
								</a>
							</td>
							
						</tr>
					</table>
				</div>
				
				
									
			</div>
		</div>
		
					
		<p th:text="${created}"></p>
	</main>
	
	
	
	
	
	<script th:href="@{/webjars/jquery/3.5.0/js/jquery.min.js}"></script>

    <script th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    
</body>
</html>